doctrine:
    dbal:
        default_connection: main
        connections:
            main:
                url: '%env(resolve:DATABASE_URL)%'
                driver: 'pdo_pgsql'
                server_version: 13
                charset: utf8
                default_table_options:
                    charset: utf8mb4
                    collate: utf8mb4_unicode_ci
        types:
            uuid:  Symfony\Bridge\Doctrine\Types\UuidType
    orm:
        default_entity_manager: default
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
            LeoTelegramSdk:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Bundle/LeoTelegramSdk/Entity'
                prefix: 'App\Bundle\LeoTelegramSdk\Entity'
                alias: App\Bundle\LeoTelegramSdk
