###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
#.phpunit
.phpunit.result.cache
###< symfony/phpunit-bridge ###

**/.DS_Store
**/vendor
**/.idea
**/var
/.data
*.local
*.cache
.env.dev
###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###

./docker/mailhog

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
