parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    level: max
    paths:
        - src
        - public
        - config
    excludePaths:
        - src/FacebookAds/*
        - src/Transfer/Google*
        - src/Mapper/Facebook/*
    bootstrapFiles:
        - tests/bootstrap.php
includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
